{{#each result}}
<div class="row">
    <div class="col-md-8 whiteBorder scroll">
        
            <div class="postName">
                <h4><a href="{{url}}">{{title}}</a></h4>
            </div>
            <div class="postContent">
                <p class="content">{{content}}</p>
            </div>
       
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 halfSizedWhiteBorder scroll">
                <h4>Comments</h4>
                {{#each comments}}
                <p class="comments" data-title="{{title}}">
                    <button class="delete" data-comment="{{comment}}">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                    {{comment}}      
                </p>
                {{/each}}
            </div>

            <div class="col-md-12 halfSizedWhiteBorder scroll">
                <form class="commentForm">
                    <div class="form-group">
                        <label for="seats">Speak Your Mind!</label>
                        <input type="text" class="form-control comment"  data-title="{{title}}" required>
                    </div>

                    <button type="button" class="btn btn-danger commentSubmit" data-title="{{title}}">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}
